/* General styles of this specific page. */

body {
    position: relative;
    overflow: hidden;
    color: #516188;
    background-color: #fff;
}

/* Scrollbar decoration */

.scroll::-webkit-scrollbar {
    width: 7px;
    background-color: #51618899;
}

.scroll::-webkit-scrollbar-thumb {
    background: #516188;
    border-radius: 5px;
}

.scroll::-webkit-scrollbar-thumb:hover {
    background: #2a344d;
}


#all-container {
    display: flex;
}

#rooms-container {
    height: 100vh;
    width: 20%;
}

#chat-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 60%;
}

#users-container {
    height: 100vh;
    width: 20%;
}

.headers {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    background-color: #e2ecf6;
    z-index: 50;
    height: 10vh;
    width: 20%;
    font-family: 'SecularOne';
    box-shadow: 0px 1px 0px #516188;
}

/* Through specificity I am replacing the 20% width allocated in the headers class with the 60% allocated in the header-central id. */
#header-central {
    width: 60%;
}

#main-chat {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    height: 80vh;
    margin-top: 10vh;
    overflow-y: auto;
    background-image: url('../assets/img/background-main-chat.jpeg');
    background-attachment: fixed;
    background-size: cover;
    padding: .5em 2em .5em 2em;
}

#main-chat>p {
    margin: 2em;
}

#footer-chat {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 10vh;
    background-color: #e2ecf6;
    border-top: 1px solid #516188;
    border-right: 1px solid #516188;
}

#footer-chat>form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-left: -2em;
}

.measures-input-chat {
    height: 3.5em;
    width: 80%;
    margin-right: 1em;
}

#emoji-button {
    position: relative;
    z-index: 50;
    margin-left: 2em;
}

.button {
    background-color: #00000000;
    border: none;
}

.button>img {
    height: 40px;
    filter: drop-shadow(2px 2px 2px #516188);
}

.button>img:hover {
    height: 40px;
    filter: drop-shadow(2px 2px 2px #000);
}

.button>img:active {
    height: 40px;
    filter: none;
}

.avatar {
    width: 50px;
    height: 50px;
}

.message {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: .5em 0em;
    padding: .5em;
    background-color: #516188bb;
    font-family: 'SecularOne', Helvetica, sans-serif;
}

.message>div {
    color: #fff;
    margin: 1em;
}

.name {
    font-family: 'SecularOne', Helvetica, sans-serif;
    color: #000;
}

.data {
    font-size: .7em;
    float: right;
    color: #0d2052;
    margin: 0 -1em -3em 0;
}

.aside-main {
    background-color: #e2ecf6;
    width: 100%;
    margin-top: 10vh;
}

#aside-main-left {
    border-bottom: 1px solid #516188;
    height: 50vh;

}

#aside-main-right {
    height: 90vh;
}

.music-zone {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 40vh;
    background-image: url('../assets/img/music-wallpaper.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: auto;
}

.sound {
    display: inline-block;
    width: 90%;
    border-radius: 10px;
    background-color: #fff9;
    padding: 1em;
    margin: 1em;
}

.sound:hover {
    background-color: #fffc;
}

.play-pause {
    border: none;
    background: #0000;
    margin-right: 1em;
    width: 10px;
    cursor: pointer;
}

.play-pause:hover {
    filter: drop-shadow(2px 2px 2px #516188);
}

.play-pause:active {
    filter: drop-shadow(2px 2px 2px #e2ecf6);
}

.sound-name {
    font-family: 'SecularOne', Helvetica, sans-serif;
    margin: .2em 0 -1em 0;
    color: #000;
}